@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show Species</h2>
<div class="row">
    <div class="col-sm-2">
        <a href="/Species/List">Back to List</a>
    </div>
    <div class="col-sm-1">
        <a href="/Species/Update/@Model.SpeciesID">Update</a>
    </div>
    <div class="col-sm-1">
        <form method="POST" action="/Species/Delete/@Model.SpeciesID">
            <input id="submit" type="submit" value="Delete" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-1">Name:</div>
    <div class="col-sm-1">@Model.Name</div>
</div>
